@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    Html.RenderPartial("_Navbar_FSP");
}

<!-- top-image -->
<section id="faq-head">
    <div class="content-box">
        <div class="container">
            <div class="row">
                <nobr>
                    <h1>Frequently Asked Questions</h1>
                </nobr>
            </div>
        </div>
    </div>
</section>

<!-- faq content -->
<section id="faq-questions">
    <div class="content-box">

        <div class="container">

            <!-- heading -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-sm-12 col-12 heading">
                    <h2>General Questions</h2>
                </div>
            </div>

            <div class="row">
                <!-- queston 1 -->
                <div class="col-xl-12 col-lg-12 col-12 faq__holder">
                    <details class="faq__detail">
                        <summary class="faq__summary">
                            <span class="faq__question">
                                <h6>What is Marketplace-Notes?</h6>
                            </span>
                        </summary>
                        <p class="faq__text">You can invite up to 2 additional users on the Free plan. There is no limit on team members for the Premium plan. You can invite up to 2 additional users on the Free plan. There is no limit on team members for the Premium plan.</p>
                    </details>
                </div>

                <!-- queston 2 -->
                <div class="col-xl-12 col-lg-12 col-12 faq__holder">
                    <details class="faq__detail">
                        <summary class="faq__summary">
                            <span class="faq__question">
                                <h6>What do the University say?</h6>
                            </span>
                        </summary>
                        <p class="faq__text">You can invite up to 2 additional users on the Free plan. There is no limit on team members for the Premium plan. You can invite up to 2 additional users on the Free plan. There is no limit on team members for the Premium plan.</p>
                    </details>
                </div>

                <!-- queston 3 -->
                <div class="col-xl-12 col-lg-12 col-12 faq__holder">
                    <details class="faq__detail">
                        <summary class="faq__summary">
                            <span class="faq__question">
                                <h6>Is this legal?</h6>
                            </span>
                        </summary>
                        <p class="faq__text">You can invite up to 2 additional users on the Free plan. There is no limit on team members for the Premium plan. You can invite up to 2 additional users on the Free plan. There is no limit on team members for the Premium plan.</p>
                    </details>
                </div>
            </div>
        </div>

        <!-- uploaders heading -->
        <div class="container">

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-12 heading">
                    <h2>Uploaders</h2>
                </div>
            </div>

            <div class="row">
                <!-- queston 1 -->
                <div class="col-xl-12 col-lg-12 col-12 faq__holder">
                    <details class="faq__detail">
                        <summary class="faq__summary">
                            <span class="faq__question">
                                <h6>What can't i sell?</h6>
                            </span>
                        </summary>
                        <p class="faq__text">You can invite up to 2 additional users on the Free plan. There is no limit on team members for the Premium plan. You can invite up to 2 additional users on the Free plan. There is no limit on team members for the Premium plan.</p>
                    </details>
                </div>

                <!-- queston 2 -->
                <div class="col-xl-12 col-lg-12 col-12 faq__holder">
                    <details class="faq__detail">
                        <summary class="faq__summary">
                            <span class="faq__question">
                                <h6>What notes can i sell?</h6>
                            </span>
                        </summary>
                        <p class="faq__text">You can invite up to 2 additional users on the Free plan. There is no limit on team members for the Premium plan. You can invite up to 2 additional users on the Free plan. There is no limit on team members for the Premium plan.</p>
                    </details>
                </div>
            </div>
        </div>

        <!-- downloaders questions -->
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-12 heading">
                    <h2>Downloaders</h2>
                </div>
            </div>
            <div class="row">

                <!-- queston 1 -->
                <div class="col-xl-12 col-lg-12 col-12 faq__holder">
                    <details class="faq__detail">
                        <summary class="faq__summary">
                            <span class="faq__question">
                                <h6>How do i buy notes?</h6>
                            </span>
                        </summary>
                        <p class="faq__text">You can invite up to 2 additional users on the Free plan. There is no limit on team members for the Premium plan. You can invite up to 2 additional users on the Free plan. There is no limit on team members for the Premium plan.</p>
                    </details>
                </div>

                <!-- queston 2 -->
                <div class="col-xl-12 col-lg-12 col-12 faq__holder">
                    <details class="faq__detail">
                        <summary class="faq__summary">
                            <span class="faq__question">
                                <h6>Can i edit the notes i purchased?</h6>
                            </span>
                        </summary>
                        <p class="faq__text">You can invite up to 2 additional users on the Free plan. There is no limit on team members for the Premium plan. You can invite up to 2 additional users on the Free plan. There is no limit on team members for the Premium plan.</p>
                    </details>
                </div>
            </div>
        </div>

    </div>
</section>

@{
    Html.RenderPartial("_Footer");
}



