

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Hello @ViewBag.userName,
        <br><br>
            <p>
                We would like to inform you that, @ViewBag.buyerName wants to purchase your notes.
                Please see Buyer Requests tab and allow download access to Buyer if you have received the payment from him.
            </p>
        <br><br>
        <p>
            Regards,<br>
            Notes Marketplace
        </p>
    </div>
</body>
</html>
