<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>Hello,</p> 
        <br /><br />
        <p>We have generated a new password for you</p><br />
        Password : @ViewBag.NewPassword
        <br />
        <p>Regards,<br />Notes Merketplace</p>
    </div>
</body>
</html>
