<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Hello @ViewBag.FirstName,
        <br><br>
        <p>
            We want to inform you that, your note @ViewBag.noteTitle has been removed from the portal.<br />
            Please find our remarks as below - <br />
            @ViewBag.adminRemark
        </p>
        <br><br>
        <p>
            Regards,<br>
            Notes Marketplace
        </p>
    </div>
</body>
</html>

