
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Title -->
    <title>@ViewBag.Title - NotesMarketPlace</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/image/favicon/favicon.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.css">

    <!-- Font Awasome CSS-->
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.css">

    <!-- Responsive tabs -->
    <link rel="stylesheet" href="~/Content/responsive-tabs.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/responsive.css">

</head>

<body>

    @RenderBody()

    <!-- jquery -->
    <script src="~/Scripts/jquery.js"></script>

    <!-- Popper JS -->
    <script src="~/Scripts/popper.min.js"></script>

    <!-- Bootsrap js -->
    <script src="~/Scripts/bootstrap.js"></script>

    <!-- Custom js -->
    <script src="~/Scripts/script.js"></script>

    @RenderSection("scripts", required: false)

</body>

</html>
