<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Hello @ViewBag.FirstName,
        <br><br>

            <p>Thank you for signing up with us. Please click on below link to verify your email address and to do login.</p>

        <br><br>
        <a href="@ViewBag.ConfirmationLink">Verify Email Address</a>
        <br><br>

            <p>
                Regards,<br>
                Notes Marketplace
            </p>
    </div>
</body>
</html>
