<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>Hello</p><br />
        @ViewBag.Comment
        <br />
        <p>Regards,<br />@ViewBag.FirstName</p>
    </div>
</body>
</html>
