@{
    ViewBag.Title = "Email Verification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="emailverification">
    <div class="box">

        <!-- top logo -->
        <div class="logo">
            <div class="emailverify-logo text-center">
                <img src="~/Content/image/logo/top-logo.png" alt="forgotpass-logo">
            </div>
        </div>

        <!-- content -->
        <div class="emailverify-content">
            <h2 class="text-left">Email Verifiaction</h2>
            <h5 class="text-left">Dear Kane,</h5>
            <p class="text-left">Thanks for Signing up!</p>
            <p class="text-left">Simply click below for email verification.</p>

            <!-- Submit button -->
            <div id="verify-email-btn">
                @Html.ActionLink("Verify Email Address", "RegisterConfirm", "Account", new { regID = @ViewBag.regID }, new { @class = "btn btn-primary btn-lg btn-block" })
            </div>

        </div>
    </div>
</section>

<script>
function verified() {
    $.ajax({
        type: "post",
        url: "Account/RegisterConfirm",
        data: { 'regID': '@ViewBag.regID' },
    })
}
</script>